<?xml version="1.0"?>
<config>
    <modules>
        <Lyonscg_Musccl>
            <version>0.1.0</version>
        </Lyonscg_Musccl>
    </modules>
    <global>
        <models>
            <lyonscg_musccl>
                <class>Lyonscg_Musccl_Model</class>
            </lyonscg_musccl>
        </models>
        <blocks>
            <lyonscg_musccl>
                <class>Lyonscg_Musccl_Block</class>
            </lyonscg_musccl>
        </blocks>
        <helpers>
            <lyonscg_musccl>
                <class>Lyonscg_Musccl_Helper</class>
            </lyonscg_musccl>
        </helpers>
    </global>
</config>